{% extends 'base.html' %}
{% block content %}

<h2 class="title">{{ sub_title }}</h2>
<hr width="80%" color="#c09669">

<ul>
  <li><a href="church_1.html">Храм</a></li>
  <li><a href="church_2.html">Храм</a></li>
  <li><a href="church_3.html">Храм</a></li>
  <li><a href="church_4.html">Храм</a></li>
  <li><a href="church_5.html">Храм</a></li>
  <li><a href="church_6.html">Храм</a></li>
  <li><a href="church_7.html">Храм</a></li>
  <li><a href="church_8.html">Храм</a></li>
  <li><a href="church_9.html">Храм</a></li>
  <li><a href="church_10.html">Храм</a></li>
  <li><a href="church_11.html">Храм</a></li>
  <li><a href="church_12.html">Храм</a></li>
  <li><a href="church_13.html">Храм</a></li>
  <li><a href="church_14.html">Храм</a></li>
  <li><a href="church_15.html">Храм</a></li>
  <li><a href="church_16.html">Храм</a></li>
  <li><a href="church_17.html">Храм</a></li>
</ul>

{% endblock %}