{% extends 'base.html' %}
{% block content %}

<h2 class="title">Духовенство</h2>
<hr width="80%" color="#c09669">

<ul>
  <li><a href="cleric_1.html">Протоиерей Николай Гордиенко</a></li>
  <li><a href="cleric_2.html">Протоиерей Георгий Русаков</a></li>
  <li><a href="cleric_3.html">Иеромонах Порфирий (Денисов)</a></li>
  <li><a href="cleric_4.html">Иерей Евгений Рябошапко</a></li>
  <li><a href="cleric_5.html">Иерей Игорь Русаков</a></li>
  <li><a href="cleric_6.html">Иеромонах Филимон (Ивачев)</a></li>
  <li><a href="cleric_7.html">Иерей Александр Сохарев</a></li>
  <li><a href="cleric_8.html">Иерей Игорь Мищенко</a></li>
  <li><a href="cleric_9.html">Иерей Александр Варнавских</a></li>
</ul>

{% endblock %}