{% extends 'base.html' %}
{% block content %}

<h2 class="title">События</h2>
<hr width="80%" color="#c09669">

{% for post in posts %}
<div class="article">
  <a href=""><h3 class="title">Статья 1</h3></a>
  <p><img class="article-image" src="../static/images/patriarch.png">{{ post[1] }}</p>
</div>

<hr width="80%" color="#c09669">
{% endfor %}

<br>
<a class="button" href="{{ url_for('delete') }}">&#8656; Сюда</a> | 
<a class="button" href="{{ url_for('addiction') }}">Туда &#8658;</a>

{% endblock %}