{% extends 'base.html' %}
{% block content %}

<h2 class="title">{{ sub_title }}</h2>
<hr width="80%" color="#c09669">

{% for post in posts %}
  <article>
    <div class="date"><i>{{ post.date }}</i></div>
    <a href="{{ url_for('post', post_link=post.link) }}"><h3 class="title">{{ post.title }}</h3></a>

    {% if post.preview_image %}
	    <img class="preview-image" src="../static/images/post_images/{{ post.preview_image }}">
  	  <p>{{ post.preview }}</p>
    {% else %}
	    <p>{{ post.preview }}</p>
      <div class="date"><i>{{ post.date }}</i></div>
    {% endif %}
  </article>

  <br>
  <hr width="80%" color="#c09669">
{% endfor %}

<!-- Когда в рубрике это единственная -->
{% if page.min and not page.over_ten %}

<!-- Первая страница -->
{% elif page.min and page.over_ten %}
	<a class="button" href="{{ url_for('next_page', id=page.next_id) }}">Вперед &#8658;</a>

<!-- Последняя страница -->
{% elif page.max %}
	<a class="button" href="{{ url_for('past_page', id=page.past_id) }}">&#8656; Назад</a>

<!-- Средние страницы -->
{% else %}
	<a class="button" href="{{ url_for('past_page', id=page.past_id) }}">&#8656; Назад</a> |
	<a class="button" href="{{ url_for('next_page', id=page.next_id) }}">Вперед &#8658;</a>
{% endif %}

{% endblock %}