
                    <div class="date"><i>11.01.2021</i></div>
                    <h2 class="title">Архиерейское служение в день празднования Собора Пресвятой Богородицы</h2>
                    <hr width="80%" color="#c09669">

                    <article>
                      <p>8 января, Его Преосвященство Владыка Всеволод на праздновании Собора Пресвятой Богородицы возглавил Божественную литургию в кафедральном храме в честь Святителя Тихона патриарха Московского и всея Руси города Камня-на-Оби.</p><p></p><p>Епископу Всеволоду сослужили: благочинный Каменского благочинного округа и настоятель храма протоиерей Николай Гордиенко, иерей Александр Сохарев, иерей Игорь Русаков.</p><p></p><p>На сугубой ектении были вознесены молитвенные прошения в связи с угрозой распространения коронавирусной инфекции. По сугубой ектении Владыка вознес молитву о милосердии Божием и ограждении от губительного поветрия</p><p></p><p>По окончании богослужения Его Преосвященство обратился к прихожанам с проповедью, и преподал Архипастырское благословение.</p>
                      <img class="post-image" src="../static/images/post_images/DSC_0923.jpg"><img class="post-image" src="../static/images/post_images/DSC_0925.jpg"><img class="post-image" src="../static/images/post_images/DSC_0946.jpg"><img class="post-image" src="../static/images/post_images/DSC_0950.jpg">
                    </article>
                