
                        <div class="date"><i>27.01.2021</i></div>
                        <h2 class="title">ПОЧЕМУ НЕ СО ВСЕМИ ПРОИСХОДЯТ ЧУДЕСА?</h2>
                        <hr width="80%" color="#c09669">

                        <article>
                          <img class="post-image" src="../static/images/post_images/355117.p.jpg">
                          <p>Господь часто молчит из любви. Но возникает вопрос: почему чудеса происходят не со всеми? Сколько больных людей и их родственников с верой умоляют Бога и святых об исцелении! Но мы не видим, чтобы с ними происходило чудо! Почему?</p>
<p></p>
<p>На этот вопрос нет однозначного ответа. Божии судьбы как бездна.</p>
<p></p>
<p>«Кто познал ум Господень?» (1 Кор. 2: 16) – спрашивает святой апостол Павел.</p>
<p></p>
<p>Точный ответ на этот вопрос может дать только Господь. Очень трудно объяснить Божий Промысл, Его волю и молчание. Мы не можем утверждать, что «этот человек более верующий, чем другой» или что «Господь больше любит этого человека, чем того». Как говорит Господь устами святого пророка Исаии: «Как небо выше земли, так пути Мои выше путей ваших, и мысли Мои выше мыслей ваших» (Ис. 55: 9).</p>
<p></p>
<p>Разумеется, здесь необходимо отметить и следующее. Часто Господь молчит из любви к людям. Бог попускает человеку суровые искушения ради его спасения. В Своем всезнании Господь прекрасно видит, что искушение, болезнь, боль будут спасительны для человека.</p>
<p></p>
<p>Господь видит: искушение, болезнь, боль будут спасительны для человека</p>
<p></p>
<p>Святой апостол Павел, который сам лечил больных и совершал чудеса, страдал от тяжелой болезни – жала в плоти (см.: 2 Кор. 12: 7). Он три раза умолял Господа, чтобы Тот исцелил его, но Бог не стал выполнять его просьбу. Его ответом было: «Довольно для тебя благодати Моей, ибо сила Моя совершается в немощи» (2 Кор. 12: 9).</p>
<p></p>
<p>То есть тебе достаточно Моего дара, потому что его сила полностью проявляется в твоей немощи.</p>
<p></p>
<p>Многие святые, совершавшие над людьми чудеса, страдали разными болезнями и другими искушениями. Они просили не о том, чтобы Господь их исцелил, но чтобы дал им терпение. Наши современные святые старцы Порфирий и Паисий дошли до того, что просили у Бога, чтобы им самим заболеть раком. И, страдая от болезни, они радовались и прославляли Господа. Отец Паисий говорил:</p>
<p></p>
<p>– В болезни я научился тому, чего не дало мне и многолетнее подвижничество.</p>
<p></p>
<p>И все-таки это не означает, что не надо искать Божиего вмешательства! Ведь иначе мы отвергаем Его заповедь: «Просите, и дано будет вам; ищите, и найдете; стучите, и отворят вам» (Мф. 7: 7), – и ставим под вопрос дар и благодать, которые Он дал Своим святым: «Верующий в Меня, дела, которые творю Я, и он сотворит, и больше сих сотворит» (Ин. 14: 12).</p>
<p></p>
<p>А наше дело – молитвы и покаянное расположение сердца. Говоря иными словами, давайте позволим Богу войти в наши сердца и в нашу жизнь. Потому что без нашего добровольного согласия Он не может туда войти. Он всегда смиренно ждет и уважает нашу личность. Господь стучится в наши сердца, но не входит силой в них.</p>
<p></p>
<p>Мы должны ответить Ему. Поделиться нашими прошениями. Но не делать это как невоспитанные дети, но тихо и смиренно. Когда что-то просим, мы не должны Его вынуждать, а всегда должны быть готовы выполнять Его волю.</p>
<p></p>
<p>«Впрочем, не как Я хочу, но как Ты… Да будет воля Твоя» (Мф. 26: 39, 42).</p>

                        </article>
                    